/* Prevent our icons from css obfuscation */
@external .customIcon_*;

@sprite .customIcon_connector {
    gwt-image: "connector";
    display: inline-block;
  	width: 1.25em;
  	text-align: center;
}

@sprite .customIcon_mindmap {
    gwt-image: "mindmap";
    display: inline-block;
  	text-align: center;
}

@sprite .customIcon_hierarchicalhorizontal {
    gwt-image: "hierarchicalhorizontal";
    display: inline-block;
  	text-align: center;
}