@external action-button-up-hovering, action-button-up,action-button-down, action-button-down-hovering;
.action-button-up-hovering,
.action-button-down-hovering, 
.action-button-down {
	border: 1px solid;
	border-color: #9cf #69e #69e #7af;
}

.action-button-down-hovering, 
.action-button-down {
	border: 1px inset;
  	border-color: #9cf #69e #69e #7af;
}

.action-button-up {
	border: 1px solid transparent;
}

.button {
	width: 16px;
	height: 16px;
	padding: 0	;
	margin: 0;
}

.selected {
	background-color: grey;
}

.view {
	font-family: monospace;
	font-size: 14px;
	white-space: pre;
}

.edit {
	font-family: monospace;
	font-size: 14px;
	border-width: 0px;
	padding: 0px;
}
