
.node {
	position: relative;
	text-align: left;
	font-family: monospace;
	font-size: 14px;
	padding: 3px;
	cursor: default;
}

a.node {
	cursor: pointer;
}

.view {
	white-space: pre-line;
}

.edit {
	color: #111;
	border-style: solid;
	border-width: 2px;
	border-color: #08C;
	padding: 0px;
	z-index: 100;
}
